In [12]:
import pandas as pd, numpy as np
import warnings
warnings.filterwarnings('ignore')

In [9]:
def time_converter(x):
    try:
        return x
    except UserWarning:
        return str(x)
    '''if isinstance(x, (int, np.integer)):
        if x > 10**12:
            return pd.to_datetime(x, unit='ns')'''
    return pd.to_datetime(x, errors='coerce')

# Reading the data

In [13]:
data = pd.read_excel(r'C:\Users\akash\Downloads\Freight Booking Data - DS Assessment.xlsx', sheet_name='Data')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Shipment_ID                80000 non-null  object
 1   Customer                   80000 non-null  object
 2   Origin_Port                80000 non-null  object
 3   Destination_Port           80000 non-null  object
 4   Container_Type             80000 non-null  object
 5   Weight_KG                  78796 non-null  float64
 6   Freight_Cost_USD           80000 non-null  int64
 7   Insurance_Cost_USD         80000 non-null  int64
 8   Customs_Clearance_Fee_USD  80000 non-null  int64
 9   Fuel_Surcharge_USD         80000 non-null  int64
 10  Handling_Fee_USD           80000 non-null  int64
 11  Shipping_Date              79189 non-null  datetime64[ns]
 12  Estimated_Delivery_Date    79200 non-null  datetime64[ns]
 13  Actual_Delivery_Date       79989 non-null  datetime64[ns]
 14  Transit_Time_Days          80000 non-null  int64
 15  Incoterms                  78409 non-null  object
 16  Status                     78380 non-null  object
 17  Sales_Channel              78407 non-null  object
dtypes: datetime64[ns](3), float64(1), int64(6), object(8)
memory usage: 11.0+ MB

# Missing value contribution

In [25]:
round((data.isna().sum()/len(data)*100),2)

Shipment_ID                  0.00
Customer                     0.00
Origin_Port                  0.00
Destination_Port             0.00
Container_Type               0.00
Weight_KG                    1.50
Freight_Cost_USD             0.00
Insurance_Cost_USD           0.00
Customs_Clearance_Fee_USD    0.00
Fuel_Surcharge_USD           0.00
Handling_Fee_USD             0.00
Shipping_Date                1.01
Estimated_Delivery_Date      1.00
Actual_Delivery_Date         0.01
Transit_Time_Days            0.00
Incoterms                    1.99
Status                       2.02
Sales_Channel                1.99
dtype: float64

In [16]:
data[data.Shipping_Date.isnull()].head()

,Shipment_ID,Customer,Origin_Port,Destination_Port,Container_Type,Weight_KG,Freight_Cost_USD,Insurance_Cost_USD,Customs_Clearance_Fee_USD,Fuel_Surcharge_USD,Handling_Fee_USD,Shipping_Date,Estimated_Delivery_Date,Actual_Delivery_Date,Transit_Time_Days,Incoterms,Status,Sales_Channel
123,SHP-M87251-IP-3912,"White, Snyder and Herring",Busan,Port Klang,40HC,22659.0,8567,397,1135,427,463,NaT,NaT,2024-02-17,14,CIF,Delivered,partner
212,SHP-E27655-CR-2888,"Carter, Ramirez and Ortega",Singapore,Hamburg,40FT,17469.0,8527,3048,591,877,218,NaT,NaT,2024-04-30,60,EXW,In Transit,Online
363,SHP-T28385-MW-1011,Duncan-Williams,Rotterdam,Port Klang,20FT,20073.0,1329,2526,1518,509,328,NaT,NaT,2024-05-19,64,FOB,Delivered,online
534,SHP-L94167-JF-1737,Tran Inc,Rotterdam,Long Beach,40HC,39181.0,1509,2710,2060,673,151,NaT,NaT,2024-02-14,24,FOB,In Transit,Partner
606,SHP-L94167-JF-8196,"Mathis, Rush and Mclean",Jebel Ali,Port Klang,20FT,54449.0,128,2307,94,195,607,NaT,NaT,2024-05-09,51,C.I.F,Delivered,partner

# Cleaning the data

In [26]:
cleaned_data = data.dropna(subset=['Weight_KG','Shipping_Date']).copy()
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77999 entries, 0 to 79999
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Shipment_ID                77999 non-null  object
 1   Customer                   77999 non-null  object
 2   Origin_Port                77999 non-null  object
 3   Destination_Port           77999 non-null  object
 4   Container_Type             77999 non-null  object
 5   Weight_KG                  77999 non-null  float64
 6   Freight_Cost_USD           77999 non-null  int64
 7   Insurance_Cost_USD         77999 non-null  int64
 8   Customs_Clearance_Fee_USD  77999 non-null  int64
 9   Fuel_Surcharge_USD         77999 non-null  int64
 10  Handling_Fee_USD           77999 non-null  int64
 11  Shipping_Date              77999 non-null  datetime64[ns]
 12  Estimated_Delivery_Date    77999 non-null  datetime64[ns]
 13  Actual_Delivery_Date       77999 non-null  datetime64[ns]
 14  Transit_Time_Days          77999 non-null  int64
 15  Incoterms                  76449 non-null  object
 16  Status                     76422 non-null  object
 17  Sales_Channel              76453 non-null  object
dtypes: datetime64[ns](3), float64(1), int64(6), object(8)
memory usage: 11.3+ MB

In [27]:
cleaned_data.Incoterms.fillna('Unknown', inplace=True)
cleaned_data.Status.fillna('B_In Transit', inplace=True)
cleaned_data.Sales_Channel.fillna('Unknown', inplace=True)
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 77999 entries, 0 to 79999
Data columns (total 18 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Shipment_ID                77999 non-null  object
 1   Customer                   77999 non-null  object
 2   Origin_Port                77999 non-null  object
 3   Destination_Port           77999 non-null  object
 4   Container_Type             77999 non-null  object
 5   Weight_KG                  77999 non-null  float64
 6   Freight_Cost_USD           77999 non-null  int64
 7   Insurance_Cost_USD         77999 non-null  int64
 8   Customs_Clearance_Fee_USD  77999 non-null  int64
 9   Fuel_Surcharge_USD         77999 non-null  int64
 10  Handling_Fee_USD           77999 non-null  int64
 11  Shipping_Date              77999 non-null  datetime64[ns]
 12  Estimated_Delivery_Date    77999 non-null  datetime64[ns]
 13  Actual_Delivery_Date       77999 non-null  datetime64[ns]
 14  Transit_Time_Days          77999 non-null  int64
 15  Incoterms                  77999 non-null  object
 16  Status                     77999 non-null  object
 17  Sales_Channel              77999 non-null  object
dtypes: datetime64[ns](3), float64(1), int64(6), object(8)
memory usage: 11.3+ MB

In [28]:
cleaned_data.Incoterms.value_counts()

Incoterms
FOB        9761
DAP        9601
DDP        9526
CIF        9514
cif        9510
Fob        9504
EXW        9464
C.I.F      9447
Unknown    1550
fob          41
ddp          29
exw          18
c.i.f        16
dap          16
C.IF          1
C..F          1
Name: count, dtype: int64

In [29]:
cleaned_data.Sales_Channel.value_counts()

Sales_Channel
Direct     9783
direct     9701
online     9555
Partner    9538
partner    9447
Agent      9447
Online     9432
agent      9426
Unknown    1546
AGENT        27
ONLINE       25
DIRECT       20
PARTNER      18
aent          3
Aget          3
diect         2
aget          2
agnt          2
Diret         2
Agnt          2
Dirct         2
Parner        2
prtner        1
Partnr        1
Oline         1
dirct         1
Drect         1
oline         1
parter        1
Onine         1
onine         1
parner        1
Diect         1
Onlie         1
diret         1
partnr        1
Name: count, dtype: int64

In [30]:
cleaned_data.Status.value_counts()

Status
Delivered       41895
In Transit      19390
Delayed          9033
Cancelled        6104
B_In Transit     1577
Name: count, dtype: int64

In [33]:
cleaned_data.Origin_Port.value_counts()

Origin_Port
Antwerp      7937
Jebel Ali    7833
Busan        7821
Singapore    7797
Houston      7795
             ...
Singapoe        1
Houton          1
Singaore        1
Feixstowe       1
Anterp          1
Name: count, Length: 62, dtype: int64

In [34]:
cleaned_data.Destination_Port.value_counts()

Destination_Port
Long Beach    8773
New York      8718
Mumbai        8677
Hamburg       8653
Port Klang    8642
Barcelona     8629
Dubai         8571
Tokyo         8549
Melbourne     8488
hamburg         30
mumbai          19
port klang      18
tokyo           18
melbourne       16
barcelona       15
MELBOURNE       14
HAMBURG         14
long beach      13
dubai           13
MUMBAI          13
new york        12
PORT KLANG      11
BARCELONA       11
TOKYO           10
LONG BEACH      10
NEW YORK         8
DUBAI            7
Mubai            4
Toko             4
Tkyo             3
Hambug           3
Pot Klang        2
Mlbourne         2
Hambrg           2
Mmbai            2
Long Bach        2
Por Klang        2
Lng Beach        1
Melburne         1
Toyo             1
Lon Beach        1
Ne York          1
Dbai             1
New Yrk          1
Port Kang        1
Mumai            1
Log Beach        1
Dubi             1
Haburg           1
Barclona         1
Long Beah        1
Barceloa         1
Port lang        1
Hamurg           1
Mumbi            1
Duai             1
Barceona         1
LongBeach        1
Name: count, dtype: int64