In [4]:
! pip install pandas
! pip install numpy
! pip install openpyxl
import pandas as pd, numpy as np
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
print("\n*****Required libraries imported*****")

Requirement already satisfied: pandas in c:\users\akash\appdata\roaming\python\python311\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\akash\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\akash\appdata\roaming\python\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\akash\appdata\roaming\python\python311\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in c:\users\akash\appdata\roaming\python\python311\site-packages (1.25.2)
Requirement already satisfied: openpyxl in c:\program files\python311\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\program files\python311\lib\site-packages (from openpyxl) (1.1.0)

*****Required libraries imported*****

# Mention project raw data filename below

In [5]:
file_Name = 'cases_report_Tata Power (Maithon Power Ltd)_(All States)_2024-01-15.csv'

In [6]:
def csvORexcel():
    try:
        path = "C:\\Python\\read\\"+file_Name
        if file_Name.split('.')[-1].startswith('c'):
            df = pd.read_csv(path)
            return df
        elif file_Name.split('.')[-1].startswith('x'):
            df = pd.read_excel(path)
            return df
    except FileNotFoundError:
        print("The file name {0} has not found".format(path))

fn = file_Name

In [7]:
data0 = csvORexcel()
data0.head()

,Case Id,Createdon,Scheme/Doc,Scheme/Doc GUID,Status,Docket Submitted Date,Benefit received Date,Case Organization,Case District,Citizen GUID,Citizen Name,Gender,Mobile,Age,Family GUID,Family Name,HD ID,HD Name,Opsco name
0,EP0286V4,08-Jun-2023,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Scheme/Document received,03-Jul-2023,03-Jul-2023,JH - Tata Power (Maithon Power Ltd),Dhanbad,PN02DE4A,Naba Kishori Murmu,F,8.864059e+09,41.0,PG025APC,Murmu,holodi.hansda,Holodi Hansda,Govind Mahato
1,EP0286VR,08-Jun-2023,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Scheme/Document received,03-Jul-2023,03-Jul-2023,JH - Tata Power (Maithon Power Ltd),Dhanbad,PN02DE4B,Prakash Hembram,M,8.102040e+09,26.0,PG025APD,Hembram,holodi.hansda,Holodi Hansda,Govind Mahato
2,EP0286X3,08-Jun-2023,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Scheme/Document received,03-Jul-2023,03-Jul-2023,JH - Tata Power (Maithon Power Ltd),Dhanbad,PN02DJY8,Ful Kumari Hembram,M,9.334427e+09,29.0,PG025GMX,Hembram,holodi.hansda,Holodi Hansda,Govind Mahato
3,EP0286YB,08-Jun-2023,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Data complete,NaN,NaN,JH - Tata Power (Maithon Power Ltd),Dhanbad,PN02DVBJ,Panmuni Murmu,F,7.857911e+09,35.0,PG025RER,Murmu,holodi.hansda,Holodi Hansda,Govind Mahato
4,EP0286ZE,08-Jun-2023,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Scheme/Document received,03-Jul-2023,03-Jul-2023,JH - Tata Power (Maithon Power Ltd),Dhanbad,PN02DAQL,Sumitra Hembram,F,7.070539e+09,31.0,PG02581G,Hembram,holodi.hansda,Holodi Hansda,Govind Mahato

In [8]:
states = {'AP':'Andhra Pradesh',
'AR':'Arunachal Pradesh',
'AS':'Assam',
'BR':'Bihar',
'BH':'Bihar',
'CT':'Chhattisgarh',
'CG':'Chhattisgarh',
'GA':'Goa',
'GJ':'Gujarat',
'HR':'Haryana',
'HP':'Himachal Pradesh',
'JH':'Jharkhand',
'KA':'Karnataka',
'KL':'Kerala',
'MP':'Madhya Pradesh',
'MH':'Maharashtra',
'MN':'Manipur',
'ML':'Meghalaya',
'MZ':'Mizoram',
'NL':'Nagaland',
'OR':'Odisha',
'PB':'Punjab',
'RJ':'Rajasthan',
'SK':'Sikkim',
'TN':'Tamil Nadu',
'TG':'Telangana',
'TR':'Tripura',
'UP':'Uttar Pradesh',
'UT':'Uttarakhand',
'WB':'West Bengal'}

# Data Cleaning

In [9]:
# Remove last row.
data0.drop(index = data0[data0.Createdon.isna()].index, inplace=True)

# Replace null values
data0['Scheme/Doc'].fillna('a', inplace=True)
data0['Citizen Name'].fillna('a', inplace=True)
data0['HD Name'].fillna('blank', inplace=True)
data0.Mobile.fillna(0, inplace=True)

# Deleting records with status "Case Aborted" and "Application rejected"
data0 = data0[(data0['Status'] != 'Case Aborted') & (data0['Status'] != 'Application rejected')]

# Changing status values and keeping only "Open/Submit/BR"
data0['Status'] = data0['Status'].apply(lambda x: 'Open' if x == 'Data complete' else 'Submitted' if x=='Docket submitted' else "Benefit Received" if x=='Scheme/Document received' else x)

# Changing Case Organization values from state initials to full state name.
data0['Case Organization'] = data0['Case Organization'].apply(lambda x: states[x.split(' ')[0]])

# Renaming column "Case Organiisation" & "Case District" to "State" & "Disctrict"
data0.rename(columns={"Case Organization":"State","Case District":"District"}, inplace=True)

# Convert Mobile column from float to string for concatenation.
data0['Mobile'] = data0['Mobile'].apply(lambda x: str(x).strip())
#data0['Mobile'] = data0['Mobile'].astype('int64')
data0['Mobile'] = data0['Mobile'].astype('str')

# Change gender from initial letter to full form.
data0['Gender'] = data0['Gender'].apply(lambda x: 'Male' if x=='M' else 'Female' if x=='F' else 'Other' if x=='O' else x)

# Convert "Createdon", "Docket Submitted Date", "Benefit received Date" column data type to Datetime format
dt_col = ['Createdon', 'Docket Submitted Date', 'Benefit received Date', 'DOB']

for col in dt_col:
    try:
        data0[col] = pd.to_datetime(data0[col], format='mixed', errors='ignore')
    except KeyError:
        continue

data0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12869 entries, 0 to 13152
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Case Id                12869 non-null  object
 1   Createdon              12869 non-null  datetime64[ns]
 2   Scheme/Doc             12869 non-null  object
 3   Scheme/Doc GUID        12869 non-null  object
 4   Status                 12869 non-null  object
 5   Docket Submitted Date  11580 non-null  datetime64[ns]
 6   Benefit received Date  10006 non-null  datetime64[ns]
 7   State                  12869 non-null  object
 8   District               12869 non-null  object
 9   Citizen GUID           12869 non-null  object
 10  Citizen Name           12869 non-null  object
 11  Gender                 12869 non-null  object
 12  Mobile                 12869 non-null  object
 13  Age                    12869 non-null  float64
 14  Family GUID            12869 non-null  object
 15  Family Name            12869 non-null  object
 16  HD ID                  12868 non-null  object
 17  HD Name                12869 non-null  object
 18  Opsco name             12868 non-null  object
dtypes: datetime64[ns](3), float64(1), object(15)
memory usage: 2.0+ MB

# Translate local language district name to English

In [10]:
# Renaming Case District name from local language to english

data0['District'] = data0['District'].apply(lambda x: "Dohad" if x=="દોહદ" else "Haridwar" if x=="हरिद्वार" else "UDHAM SINGH NAGAR".title() if (x=="उदम सिंह नगर" or x=="Udam Singh Nagar")
                             else "Sitamarhi" if x=="सीतामढ़ी" else "Mahasamund" if (x=="महासमुंद" or x=="Mahasamand") else "Rajgarh" if x=="राजगढ़" else "Muzaffarpur" if x=="मुजफ्फरपुर"
                             else "Nawada" if x=="नवादा" else "Balrampur" if x=="बलरामपुर" else "DAMOH".title() if x=="दमोह" else "Shravasti" if x=="श्रावस्ती"
                             else "NARMADA".title() if x=="નર્મદા" else "Chhatarpur" if (x=="छतरपुर" or x=="Chhattarpur") else 'East Singhbum' if x=='ईस्ट सिंघबम' else 'Chhindwara' if x=='छिंदवारा' 
                             else 'Jalna' if x=='जालना' else 'Dhule' if x=='धुळे' else "Dhanbad" if x=="धनबाद" else x.title())

# Renaming column "Case Organiisation" & "Case District" to "State" & "Disctrict"
data0.rename(columns={"Case Organization":"State","Case District":"District"}, inplace=True)

data0['District'].value_counts()

District
Dhanbad    12869
Name: count, dtype: int64

# DFL Schemes

- SH0009SW = Digital productivity Service_ Basic
- SH000BM6 = Digital productivity Service_Basic
- SH000AG6 = Digital Productivity Services_Advanced
- SH000A32 = Long Training on Digital & Financial Inclusion_Private
- SH0009SW = Short Training on Digital & Financial Inclusion_Private
- SH000AG6 = Digital Productivity Services and and employability training_Advanced

# Removing DFL data

In [11]:
dfl = data0[(data0['Scheme/Doc GUID'] == 'SH0009SW') | (data0['Scheme/Doc GUID'] == 'SH000AG6') | (data0['Scheme/Doc GUID'] == 'SH000A32') | (data0['Scheme/Doc GUID']=='SH0009SW') | (data0['Scheme/Doc GUID']=='SH000AG6') | (data0['Scheme/Doc GUID']=='SH000BM6')]
data0 = data0[(data0['Scheme/Doc GUID'] != 'SH0009SW') & (data0['Scheme/Doc GUID'] != 'SH000AG6') & (data0['Scheme/Doc GUID'] != 'SH000A32') & (data0['Scheme/Doc GUID']!='SH0009SW') & (data0['Scheme/Doc GUID']!='SH000AG6') & (data0['Scheme/Doc GUID']!='SH000BM6')]
print("DFL Count={0}\nE-Gov Count={1}".format(len(dfl),len(data0)))

DFL Count=0
E-Gov Count=12869

In [12]:
data0.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12869 entries, 0 to 13152
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Case Id                12869 non-null  object
 1   Createdon              12869 non-null  datetime64[ns]
 2   Scheme/Doc             12869 non-null  object
 3   Scheme/Doc GUID        12869 non-null  object
 4   Status                 12869 non-null  object
 5   Docket Submitted Date  11580 non-null  datetime64[ns]
 6   Benefit received Date  10006 non-null  datetime64[ns]
 7   State                  12869 non-null  object
 8   District               12869 non-null  object
 9   Citizen GUID           12869 non-null  object
 10  Citizen Name           12869 non-null  object
 11  Gender                 12869 non-null  object
 12  Mobile                 12869 non-null  object
 13  Age                    12869 non-null  float64
 14  Family GUID            12869 non-null  object
 15  Family Name            12869 non-null  object
 16  HD ID                  12868 non-null  object
 17  HD Name                12869 non-null  object
 18  Opsco name             12868 non-null  object
dtypes: datetime64[ns](3), float64(1), object(15)
memory usage: 2.0+ MB

# Duplicate Column

In [13]:
# Creating column with name 'duplicate' by concatenation
data0['duplicate'] = data0['Scheme/Doc'] + data0['Citizen Name'] + data0['Mobile'] + data0['HD Name'] # Concatenation
dfl['duplicate'] = dfl['Scheme/Doc'] + dfl['Citizen Name'] + dfl['Mobile'] + dfl['HD Name'] # Concatenation
data0['duplicate'] = data0['duplicate'].apply(lambda x: x.lower()) # Converting duplicate column in lower case because python considers ASCII values of each character while checking for duplicates.
dfl['duplicate'] = dfl['duplicate'].apply(lambda x: x.lower())
data0.head()

,Case Id,Createdon,Scheme/Doc,Scheme/Doc GUID,Status,Docket Submitted Date,Benefit received Date,State,District,Citizen GUID,Citizen Name,Gender,Mobile,Age,Family GUID,Family Name,HD ID,HD Name,Opsco name,duplicate
0,EP0286V4,2023-06-08,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Benefit Received,2023-07-03,2023-07-03,Jharkhand,Dhanbad,PN02DE4A,Naba Kishori Murmu,Female,8864058565.0,41.0,PG025APC,Murmu,holodi.hansda,Holodi Hansda,Govind Mahato,pradhan mantri jan arogya yojana (ayushman bha...
1,EP0286VR,2023-06-08,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Benefit Received,2023-07-03,2023-07-03,Jharkhand,Dhanbad,PN02DE4B,Prakash Hembram,Male,8102039800.0,26.0,PG025APD,Hembram,holodi.hansda,Holodi Hansda,Govind Mahato,pradhan mantri jan arogya yojana (ayushman bha...
2,EP0286X3,2023-06-08,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Benefit Received,2023-07-03,2023-07-03,Jharkhand,Dhanbad,PN02DJY8,Ful Kumari Hembram,Male,9334426575.0,29.0,PG025GMX,Hembram,holodi.hansda,Holodi Hansda,Govind Mahato,pradhan mantri jan arogya yojana (ayushman bha...
3,EP0286YB,2023-06-08,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Open,NaT,NaT,Jharkhand,Dhanbad,PN02DVBJ,Panmuni Murmu,Female,7857910502.0,35.0,PG025RER,Murmu,holodi.hansda,Holodi Hansda,Govind Mahato,pradhan mantri jan arogya yojana (ayushman bha...
4,EP0286ZE,2023-06-08,Pradhan Mantri Jan Arogya Yojana (Ayushman Bha...,SH000676,Benefit Received,2023-07-03,2023-07-03,Jharkhand,Dhanbad,PN02DAQL,Sumitra Hembram,Female,7070538923.0,31.0,PG02581G,Hembram,holodi.hansda,Holodi Hansda,Govind Mahato,pradhan mantri jan arogya yojana (ayushman bha...

# Duplicate Data

In [14]:
# Checking number of all duplicate records
duplicateData = data0[data0.duplicated(['duplicate'],keep=False)].sort_values('duplicate')
dflDuplicates = dfl[dfl.duplicated(['duplicate'],keep=False)].sort_values('duplicate')
duplicateData = pd.concat([duplicateData,dflDuplicates], ignore_index=True)
duplicateData.reset_index(inplace=True, drop = True)

try:
    duplicateData.drop(index=duplicateData.index[-1], inplace=True)
except IndexError:
    print(duplicateData.shape)

duplicateData.shape

(72, 20)

# Unique Data

In [15]:
# Keeping uniques excluding duplicates
unique_data = data0.drop(index = data0[data0.duplicated(['duplicate'], keep='last')].index)
unique_data.reset_index(inplace=True, drop = True)
try:
    unique_data.drop(index=unique_data.index[-1], inplace=True)
except IndexError:
    print(unique_data.shape)

unique_data.shape

(12831, 20)

In [16]:
# Exporting data of all duplicate records to Excel file.
duplicateData.to_excel('C:\\Python\\export\\'+fn.split('.')[0]+'_duplicate.xlsx', index=False)
print('Export to Excel Success! Total {0} duplicate records exported.'.format(duplicateData.shape[0]))

Export to Excel Success! Total 72 duplicate records exported.

In [17]:
# Exporting data of all duplicate records to Excel file.
unique_data.to_excel('C:\\Python\\export\\'+fn.split('.')[0]+'_unique.xlsx', index=False)
print('Export to Excel Success! Total {0} duplicate records exported.'.format(unique_data.shape[0]))

Export to Excel Success! Total 12831 duplicate records exported.