remove repeat mobile numbers
remove hd mobile = citi mobile 
20% sampling including all HDs and their respective schemes

In [86]:
import pandas as pd, numpy as np

In [99]:
file_Name = 'AP - DBS Bank - Akash.xlsx'

In [100]:
def csvORexcel():
    global path
    path = "C:\\Python\\read\\"+file_Name
    try:
        if file_Name.split('.')[-1].startswith('c'):
            df = pd.read_csv(path)
            return df
        elif file_Name.split('.')[-1].startswith('x'):
            df = pd.read_excel(path)
            return df
    except FileNotFoundError:
        print("The file name {0} has not found".format(path))

fn = file_Name

In [101]:
data0 = csvORexcel()
data0.head()

,Case Id,HD Name,HD AMS ID,HD ID,HD Mobile,mobile_similarity,Createdon,Sch Cat,Scheme/Doc,Scheme/Doc GUID,...,Citizen Organization,Age,Citizen District,Citizen ULB,Citizen Ward,Citizen Pincode,Citizen Block,Citizen Subdistrict,Citizen Village,Family GUID
0,EP027P0F,Macha Jayalakshmi,7430,Macha.Jayalakshmi,9133018240,False,2023-06-03,NaN,AP-Income Certificate,DC0000YJ,...,AP - DBS Bank Foundation,57,Anakapalli,NaN,NaN,531011.0,NaN,Atchutapuram,Pudimadaka,PG026BRH
1,EP027P1M,Macha Jayalakshmi,7430,Macha.Jayalakshmi,9133018240,False,2023-06-03,NaN,AP-Caste Certificate,DC0000Y4,...,AP - DBS Bank Foundation,47,Anakapalli,NaN,NaN,NaN,NaN,Atchutapuram,Pudimadaka,PG026BSF
2,EP028W3G,Macha Jayalakshmi,7430,Macha.Jayalakshmi,9133018240,False,2023-06-14,NaN,AP-Caste Certificate,DC0000Y4,...,AP - DBS Bank Foundation,46,Anakapalli,NaN,NaN,531011.0,NaN,NaN,NaN,PG027DDT
3,EP02DQA4,POLAMARASETTI SYAMALA,3013,POLAMARASETTI.SYAMALA1,9542238743,False,2023-07-13,NaN,AP-Caste Certificate,DC0000Y4,...,AP - DBS Bank Foundation,18,Anakapalli,NaN,NaN,531002.0,MUNAGAPAKA,Munagapaka,T.Sirasapalle,PG02B6RJ
4,EP02ET3H,Macha Jayalakshmi,7430,Macha.Jayalakshmi,9133018240,False,2023-07-21,NaN,AP-Birth Certificate,DC0000Y6,...,AP - DBS Bank Foundation,21,Anakapalli,NaN,NaN,531011.0,NaN,NaN,NaN,PG025CO3

In [102]:
data0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3629 entries, 0 to 3628
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Case Id                3629 non-null   object
 1   HD Name                3629 non-null   object
 2   HD AMS ID              3629 non-null   int64
 3   HD ID                  3629 non-null   object
 4   HD Mobile              3629 non-null   int64
 5   mobile_similarity      3629 non-null   bool
 6   Createdon              3629 non-null   datetime64[ns]
 7   Sch Cat                0 non-null      float64
 8   Scheme/Doc             3629 non-null   object
 9   Scheme/Doc GUID        3629 non-null   object
 10  Status                 3629 non-null   object
 11  Modified On            3629 non-null   datetime64[ns]
 12  Docket Submitted Date  3629 non-null   datetime64[ns]
 13  Benefit received Date  3629 non-null   datetime64[ns]
 14  HD Suspected Cases     3629 non-null   object
 15  Case Organization      3629 non-null   object
 16  Case District          3629 non-null   object
 17  Citizen GUID           3629 non-null   object
 18  Citizen Name           3629 non-null   object
 19  Createdon.1            3629 non-null   datetime64[ns]
 20  DOB                    3629 non-null   datetime64[ns]
 21  Gender                 3629 non-null   object
 22  Mobile                 3629 non-null   int64
 23  Citizen Organization   3629 non-null   object
 24  Age                    3629 non-null   int64
 25  Citizen District       3629 non-null   object
 26  Citizen ULB            0 non-null      float64
 27  Citizen Ward           0 non-null      float64
 28  Citizen Pincode        3628 non-null   float64
 29  Citizen Block          3620 non-null   object
 30  Citizen Subdistrict    3625 non-null   object
 31  Citizen Village        3625 non-null   object
 32  Family GUID            3629 non-null   object
dtypes: bool(1), datetime64[ns](6), float64(4), int64(4), object(18)
memory usage: 910.9+ KB

In [103]:
states = {'AP':'Andhra Pradesh',
'AR':'Arunachal Pradesh',
'AS':'Assam',
'BR':'Bihar',
'BH':'Bihar',
'CT':'Chhattisgarh',
'CG':'Chhattisgarh',
'DL':'Delhi', 
'GA':'Goa',
'GJ':'Gujarat',
'HR':'Haryana',
'HP':'Himachal Pradesh',
'JH':'Jharkhand',
'KA':'Karnataka',
'KL':'Kerala',
'MP':'Madhya Pradesh',
'MH':'Maharashtra',
'MN':'Manipur',
'ML':'Meghalaya',
'MZ':'Mizoram',
'NL':'Nagaland',
'OR':'Odisha',
'PB':'Punjab',
'RJ':'Rajasthan',
'SK':'Sikkim',
'TN':'Tamil Nadu',
'TG':'Telangana',
'TR':'Tripura',
'UP':'Uttar Pradesh',
'UT':'Uttarakhand',
'WB':'West Bengal'}

# Data Cleaning

In [104]:
# Adding column to check if HD mobile = Citizen mobile.
#data0['mobile_similarity'] = data0[['Mobile','HD Mobile']].apply(lambda x: True if x[0] == x[1] else False)
#data0[data0['mobile_similarity'] == False]
#data0 = data0[data0['mobile_similarity'] == False]

In [105]:
# Remove last row.
data0.drop(index = data0[data0.Createdon.isna()].index, inplace=True)

# Replace null values
data0['Scheme/Doc'].fillna('a', inplace=True)
data0['Citizen Name'].fillna('a', inplace=True)
data0['HD Name'].fillna('blank', inplace=True)
data0.Mobile.fillna(0, inplace=True)

# Changing status values and keeping only "Open/Submit/BR"
data0['Status'] = data0['Status'].apply(lambda x: 'Open' if x == 'Data complete' else 'Submitted' if (x=='Docket submitted' or x=='Document ready') else "Benefit Received" if x=='Scheme/Document received' else x)

# Changing Case Organization values from state initials to full state name.
data0['Case Organization'] = data0['Case Organization'].apply(lambda x: states[x[:2]])

# Renaming column "Case Organiisation" & "Case District" to "State" & "Disctrict"
data0.rename(columns={"Case Organization":"State","Case District":"District"}, inplace=True)

# Convert Mobile column from float to string for concatenation.
data0['Mobile'] = data0['Mobile'].apply(lambda x: str(x).strip())
#data0['Mobile'] = data0['Mobile'].astype('int64')
data0['Mobile'] = data0['Mobile'].astype('str')

# Checking duplicate records based on citizrn mobile number.
duplicates = data0[data0.duplicated(['Mobile'], keep='first')] # Keeping duplicate records
data0 = data0.drop(index = data0[data0.duplicated(['Mobile'], keep='first')].index) # Removing duplicate records.

# Adding column to check if HD mobile = Citizen mobile.
data0['mobile_similarity'] = data0[['Mobile','HD Mobile']].apply(lambda x: True if x[0] == x[1] else False)
data0 = data0[data0['mobile_similarity'] == False]

# Change gender from initial letter to full form.
data0['Gender'] = data0['Gender'].apply(lambda x: 'Male' if x=='M' else 'Female' if x=='F' else 'Other' if x=='O' else x)

# Convert "Createdon", "Docket Submitted Date", "Benefit received Date" column data type to Datetime format
dt_col = ['Createdon', 'Docket Submitted Date', 'Benefit received Date', 'DOB']

for col in dt_col:
    try:
        data0[col] = pd.to_datetime(data0[col], format='mixed', errors='ignore')
    except KeyError:
        continue

# Deleting records with status "Case Aborted" and "Application rejected"
rejectedDF = data0[(data0.Status == 'Case Aborted') | (data0.Status == 'Application rejected')] # Storing prev step deleted data
data0 = data0[(data0['Status'] != 'Case Aborted') & (data0['Status'] != 'Application rejected')]

# Fill missing HD IDs with 'Not Mapped'.
data0[['HD ID', 'HD Name']] = data0[['HD ID', 'HD Name']].fillna('Not Mapped')

# Removing DFL cases data.
data0 = data0[(data0['Scheme/Doc GUID'] != 'SH0009SW') & (data0['Scheme/Doc GUID'] != 'SH000AG6') & (data0['Scheme/Doc GUID'] != 'SH000A32') & (data0['Scheme/Doc GUID']!='SH0009SW') & (data0['Scheme/Doc GUID']!='SH000AG6') & (data0['Scheme/Doc GUID']!='SH000BM6')]

data0.reset_index(inplace=True, drop=True)
data0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2084 entries, 0 to 2083
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Case Id                2084 non-null   object
 1   HD Name                2084 non-null   object
 2   HD AMS ID              2084 non-null   int64
 3   HD ID                  2084 non-null   object
 4   HD Mobile              2084 non-null   int64
 5   mobile_similarity      0 non-null      object
 6   Createdon              2084 non-null   datetime64[ns]
 7   Sch Cat                0 non-null      float64
 8   Scheme/Doc             2084 non-null   object
 9   Scheme/Doc GUID        2084 non-null   object
 10  Status                 2084 non-null   object
 11  Modified On            2084 non-null   datetime64[ns]
 12  Docket Submitted Date  2084 non-null   datetime64[ns]
 13  Benefit received Date  2084 non-null   datetime64[ns]
 14  HD Suspected Cases     2084 non-null   object
 15  State                  2084 non-null   object
 16  District               2084 non-null   object
 17  Citizen GUID           2084 non-null   object
 18  Citizen Name           2084 non-null   object
 19  Createdon.1            2084 non-null   datetime64[ns]
 20  DOB                    2084 non-null   datetime64[ns]
 21  Gender                 2084 non-null   object
 22  Mobile                 2084 non-null   object
 23  Citizen Organization   2084 non-null   object
 24  Age                    2084 non-null   int64
 25  Citizen District       2084 non-null   object
 26  Citizen ULB            0 non-null      float64
 27  Citizen Ward           0 non-null      float64
 28  Citizen Pincode        2083 non-null   float64
 29  Citizen Block          2076 non-null   object
 30  Citizen Subdistrict    2080 non-null   object
 31  Citizen Village        2080 non-null   object
 32  Family GUID            2084 non-null   object
dtypes: datetime64[ns](6), float64(4), int64(3), object(20)
memory usage: 537.4+ KB

In [106]:
samp = pd.DataFrame()

for hd in data0['HD ID'].value_counts().index:
    for sid in data0[data0['HD ID'] == hd]['Scheme/Doc GUID'].value_counts().index:
        conditional_data = data0[(data0['HD ID'] == hd) & (data0['Scheme/Doc GUID'] == sid)]
        if len(conditional_data) == 1:
            if len(samp) == 0:
                samp = conditional_data
            else:
                samp = pd.concat([samp, conditional_data])
        elif len(conditional_data) == 2:
            if len(samp) == 0:
                samp = conditional_data.sample(frac=0.5, random_state=1, replace=True)
            else:
                samp = pd.concat([samp,conditional_data.sample(frac=0.5, random_state=1, replace=True)], ignore_index=True)
        elif len(conditional_data) <= 5:
            if len(samp) == 0:
                samp = conditional_data.sample(frac=0.4, random_state=1, replace=True)
            else:
                samp = pd.concat([samp,conditional_data.sample(frac=0.4, random_state=1, replace=True)], ignore_index=True)
        else:
            if len(samp) == 0:
                samp = conditional_data.sample(frac=0.2, random_state=1, replace=True)
            else:
                samp = pd.concat([samp,conditional_data.sample(frac=0.2, random_state=1, replace=True)], ignore_index=True)

samp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 442 entries, 0 to 1935
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Case Id                442 non-null    object
 1   HD Name                442 non-null    object
 2   HD AMS ID              442 non-null    int64
 3   HD ID                  442 non-null    object
 4   HD Mobile              442 non-null    int64
 5   mobile_similarity      0 non-null      object
 6   Createdon              442 non-null    datetime64[ns]
 7   Sch Cat                0 non-null      float64
 8   Scheme/Doc             442 non-null    object
 9   Scheme/Doc GUID        442 non-null    object
 10  Status                 442 non-null    object
 11  Modified On            442 non-null    datetime64[ns]
 12  Docket Submitted Date  442 non-null    datetime64[ns]
 13  Benefit received Date  442 non-null    datetime64[ns]
 14  HD Suspected Cases     442 non-null    object
 15  State                  442 non-null    object
 16  District               442 non-null    object
 17  Citizen GUID           442 non-null    object
 18  Citizen Name           442 non-null    object
 19  Createdon.1            442 non-null    datetime64[ns]
 20  DOB                    442 non-null    datetime64[ns]
 21  Gender                 442 non-null    object
 22  Mobile                 442 non-null    object
 23  Citizen Organization   442 non-null    object
 24  Age                    442 non-null    int64
 25  Citizen District       442 non-null    object
 26  Citizen ULB            0 non-null      float64
 27  Citizen Ward           0 non-null      float64
 28  Citizen Pincode        442 non-null    float64
 29  Citizen Block          441 non-null    object
 30  Citizen Subdistrict    442 non-null    object
 31  Citizen Village        442 non-null    object
 32  Family GUID            442 non-null    object
dtypes: datetime64[ns](6), float64(4), int64(3), object(20)
memory usage: 117.4+ KB

In [107]:
samp.to_csv("C:\\Python\\export\\sample.csv", index = False)